{% load i18n %}
{% block rating_style %}
<style>
    #{{ id }} .star-ratings-rating-full, #{{ id }} .star-ratings-rating-empty {
        width: {{ icon_width }}px;
        height: {{ icon_height }}px;
        background: url({{ sprite_image }}) no-repeat;
        background-size: {{ sprite_width }}px;
    }

    #{{ id }} .star-ratings-rating-empty {
        background-position: -{{ icon_width }}px 0;
    }

    {% if user.is_authenticated and editable %}
    #{{ id }} .star-ratings-rating-full:hover, #{{ id }} .star-ratings-rating-empty:hover {
        background-position: -{{ icon_width|add:icon_width }}px 0;
    }
    {% endif %}
</style>
{% endblock rating_style %}

{% block rating_container %}
<div id="{{ id }}" class="star-ratings" data-max-rating="{{ star_count }}" data-avg-rating="{{ rating.average }}">
    {% block rating_stars %}
        <div class="star-ratings-rating-stars-container">
            <ul class="star-ratings-rating-background">
                {% for star in stars %}
                    <li>
                        {% if editable %}
                        <form action="{% url 'ratings:rate' rating.content_type_id rating.object_id %}" class="star-ratings-rate-action" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ star }}" name="score">
                            <input type="hidden" value="{{ request.path }}" name="next">
                            <button type="submit" class="star-ratings-rating-empty" data-score="{{ star }}"></button>
                        </form>
                        {% elif user.is_authenticated %}
                            <span class="star-ratings-rating-empty"></span>
                        {% else %}
                            <span class="star-ratings-rating-empty" title="{% trans 'Inicia sesion para calificar' as title_login %}{{ title_login|escape }}"></span>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

            <ul class="star-ratings-rating-foreground" style="width: {{ percentage|floatformat }}%">
                {% for star in stars %}
                    <li>
                    {% if editable %}
                    <form action="{% url 'ratings:rate' rating.content_type_id rating.object_id %}" class="star-ratings-rate-action" method="post">
                        {% csrf_token %}
                        <input type="hidden" value="{{ star }}" name="score">
                        <input type="hidden" value="{{ request.path }}" name="next">
                        <button type="submit" class="star-ratings-rating-full" data-score="{{ star }}"></button>
                    </form>
                    {% else %}
                        <span class="star-ratings-rating-full" title="Log in to rate"></span>
                    {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}
    {% block rating_detail %}
    {% block rating_average %}
    {# <div class="star-ratings-rating-average">{% trans 'Promedio ' %} <span class='star-ratings-rating-value'>{{ rating.average|floatformat:"-2" }}</span></div> #}
    {% endblock rating_average %}
    {% block rating_count %}
    {# <div class="star-ratings-rating-count">{% trans 'Reviews ' %} <span class='star-ratings-rating-value'>{{ rating.count }}</span></div> #}
    {% endblock rating_count %}
    {% block rating_user %}
    {# <div class="star-ratings-rating-user">{% trans 'Tu review ' %} <span class='star-ratings-rating-value' data-when-null="{% trans 'Not rated' %}">{% if user_rating %}{{ user_rating.score }}{% else %}{% trans 'Not rated' %}{% endif %}</span></div> #}
    
    {% endblock rating_user %}
    <div class="star-ratings-errors"></div>
    {% block rating_clearable %}
        {% if clearable %}
            <div class="star-ratings-clear star-ratings-clear-{{user_rating|yesno:'visible,hidden'}}">
                <form action="{% url 'ratings:rate' rating.content_type_id rating.object_id %}" class="star-ratings-rate-action" method="post">
                {% csrf_token %}
                <input type="hidden" value="1" name="clear">
                <input type="hidden" value="{{ request.path }}" name="next">
                <button type="submit" class="star-ratings-rating-clear">Clear</button>
                </form>
            </div>
        {% endif %}
    {% endblock %}
    {% endblock rating_detail %}
</div>
{% endblock rating_container %}
