{% extends "base.html" %}

{% block content %}
<br/>
<h2 class="text-center">Nuevo tema</h2>
<br/>
<div class="container">
    <div class="alert alert-success" role="alert">
        <div style="padding: 30px; width: 100%;" class="text-center">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Guardar</button>
                <a href="{% url 'forumposts' %}"><button type="button" class="btn btn-light" >Cancelar</button></a>
            </form>
        </div>
    </div>
</div>
<br/>
{% endblock content %}
