{% load static %}
<style>
    .comment-form {
            width: 100%;
            max-width: 500px;
            padding: 15px;
            margin: auto;
        }
    .btn-primary {
        color: #079748;
        background-color: #fff;
        border-color: #079748;
    }
    .btn-primary:hover {
    color: #fff;
    background-color: #d4bd22;
    border-color: #fff;}
    
    .comment {
            width: 100%;
           
            padding: 15px;
            margin: auto;
    }
</style>
    <h2 class="text-center">Respuestas</h2>
    {% for comment in comentarios %}
        {# {% if user.is_authenticated or comment.approved_comment %} #}
        <div class="container"> 
            <div class="alert alert-warning" role="alert">                     
                <div class="date">
                    <div class="text-right">
                        {% if comment.author == request.user %}
                            <a href="{% url 'deleteanswer' comment.pk %}"class="badge badge-danger"
                                onClick="return confirm('¿Seguro que quieres borrar tu respuesta?');">
                                <strong>Eliminar</strong>
                            </a>
                        {% endif %}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p><small>El {{ comment.fechaCreacion }}</small>
                                {% if comment.author == request.user %}
                                <strong>usted</strong> respondió:
                                {% else %}
                                <strong>{{ comment.author }}</strong> respondió:
                                {% endif %}
                            </p>
                        </div>

                        {% if comment.author != user and comment not in denuncias %} 
                        <div class="col-sm-6 text-right">
                            <div class="btn-group">
                                {% comment %}   
                                <button type="button" class="btn btn-default dropdown-toggle"
                                        data-toggle="dropdown">
                                Opciones <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <!-- Button trigger modal -->
                                {% endcomment %}   
                                <a class="badge badge-danger" href="{% url 'sitio:denuncia' comment.pk %}">Denunciar comentario</a>
                                </ul>
                            </div>
                        </div>
                        {% endif %} 
                    </div>
                        
                        <em>{% comment %}</em>
                        {% if not comment.approved_comment %}
                            <a class="btn btn-default" href="{% url 'comment_remove' pk={{comment.pk}} %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-default" href="{% url 'comment_approve' pk={{comment.pk}} %}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                        {% endcomment %}
                    
                    <p>{{ comment.contenido|linebreaks }}</p>
                    </p>
                    
                    {% if comment.author == user %}
                        
                    {% else %}
                    <form action="{% url 'likeanswer' comment.pk %}" method="POST">
                        {% csrf_token %}
                        {% if comment.liked %}
                            <button type="submit", name="answer_id", value="{{ comment.id }}"
                            class="btn btn-danger btn-sm">No me gusta</button> 
                        {% else %}
                            <button type="submit", name="answer_id", value="{{ comment.id }}"
                            class="btn btn-success btn-sm">Me gusta</button>
                        {% endif %}
                    </form>
                    {% endif %}
                    {{ comment.total_likes }} me gusta 
                </div>
            </div>
        </div>
    {# {% endif %} #}
    {% empty %}
    <div class="container">
        <div class="comment">
            <strong>Todavía no hay respuestas</strong>
        </div>
    
    </div>
    {% endfor %}
    
    {% if user.is_authenticated %}
        <div id="respond" class="comment-respond; text-center">
            <form action="" method="post" id="commentform" class="comment-form">{% csrf_token %}
                <input class="form-control" required="" placeholder="Tu respuesta" name="contenido">
                <br> 
                <button class="btn btn-lg btn-primary btn-block publicar" type="submit">Responder</button>
            </form>
        </div>
    {% else %}
        <a class="btn btn-default" href="/accounts/login/">Inicia sesión para responder</a>
    {% endif %}




    {% comment %}
    <script src="{% static '/js/Denunciar.js' %}">
        var csrftoken = '{{csrf_token}}';
        $('.denunciar').on('click', onClickDenunciar);
    </script>
    {% endcomment %}