{% extends "base.html" %}
<script type="text/javascript" src="lib.js"></script>
{% block content %}
<div class="text-center">
<form action="" method="POST" class="post-form">{% csrf_token %}
    <br>
    <p><strong>Elija un motivo de denuncia</strong></p>
    
    {{ form.select }}
    <br>
    <br>
    <a class="btn btn-secondary" type="button" value="Cancelar" href="{% url 'sitio:forumpostdetail' comment.post.pk %}">Cancelar</a>
    <button class="btn btn-danger btn-denunciar" type="submit" value="Denunciar">Denunciar</button>
    <br>
    <br>
</form>
{% endblock content %}
</div>
<script>

function dimePropiedades(){ 
   	var texto 
   	texto = "El numero de opciones del select: " + document.formul.motivos.length 
   	var indice = document.formul.motivos.selectedIndex 
   	texto += "nIndice de la opcion escogida: " + indice 
   	var valor = document.formul.motivos.options[indice].value 
   	texto += "nValor de la opcion escogida: " + valor 
   	var textoEscogido = document.formul.motivos.options[indice].text 
   	texto += "nTexto de la opcion escogida: " + textoEscogido 
       alert(texto) 
       console.log(texto)
}

</script>



<!-- Modal -->
{% comment %}
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Elija un motivo de denuncia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endcomment %}
            
            {% comment %}
                {# <button type="button" data-pk-comment="{{ comment.id }}" class="btn btn-danger denunciar">Denunciar</button> #}
        </div>
    </div>
</div>


<script>

    function onDenunciaTerminada(datos){
        print(datos)
        alert(datos);
        window.location.href = 'tema/{{pk}}/';
    }

    function onClickDenunciar(e) {
        NO ANDA NADAAAAAAAAAAAAA
        var target = $(e.target);
        print('target: '+target)
        var pk = target.data("pk-comment");
        // hacer algo con pkCosa, por ejemplo mandar request ajax de denuncia
        var ultimo_motivo = target.data("motivo")
        print('ultimo motivo: '+ultimo_motivo)
        var motivos = document.getElementById("motivos");
        var indiceSeleccionado = motivos.selectedIndex;
        var opcionSeleccionada = motivos.options[indiceSeleccionado];
        var URL ="denuncia/{{pk}}/";
        print('pk de comentario: '+pk)
        print('csrftoken: '+csrftoken)
        var data = {'motivo': opcionSeleccionada, 'pk':pk}; 
        $.post({
            headers: {"X-CSRFToken": csrftoken},   //así django acepta el POST
            url: URL,
            data: data,
        }).done(onDenunciaTerminada);
    }

    $('.btn-denunciar').on('click', onClickDenunciar);
    </script>


{% endcomment %}

