
{% extends "base.html" %}

{% block content %}
<br/>
<br/>
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">{{ post.title }}</h1>
        <p class="lead">Por <strong>{{ post.author }}</strong></p>
        <hr class="my-4" color="#000000">
        {{ post.body | safe }}
        <a class="btn btn-primary btn-lg" href="{% url 'forumposts' %}" role="button">Volver</a>
    </div>
</div>

{% include "answers.html" %}

{% endblock content %}