
{% extends "base.html" %}

{% block content %}
<style>
    .btn-primary {
        color: #079748;
        background-color: #fff;
        border-color: #079748;
    }
    .btn-primary:hover {
    color: #fff;
    background-color: #d4bd22;
    border-color: #fff;}
</style>

<br/>
<div class="container">
    <a class="btn btn-primary btn-lg" href="{% url 'addforumpost' %}" role="button">Crear un tema</a>
    <br>
    <br>
    {% include "search_bar_forumpost.html" %}
    <br>
</div>

<br/>
{% for post in posts %}
    <div class="container">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">
                <a href="{% url 'forumpostdetail' post.pk %}" class="alert-link" onmouseover="this.style.color='#d4bd22'"
                onMouseOut="this.style.color='#000000'"
                >{{ post.title }}</a>
            </h4><small>(click para ver más)</small>
            <hr>
            {% if post.author.username == request.user.username %}
            <p class="mb-0">Publicado por <strong>vos</strong></p>
            <span style="text-align:right;">
                <a href="{% url 'deleteforumpost' post.pk %}" class="badge badge-danger"
                onClick="return confirm('¿Seguro que quieres borrar el tema del foro?');">
                <strong>Eliminar</strong>
            </a>
            </span>
            {% else %}
            <p class="mb-0">Publicado por <strong>{{ post.author }}</strong></p>
            {% endif %}
        </div>
    </div>
<br/>
{% endfor %}
<br/>
{% endblock content %}