{% extends "base.html" %}

{% block content %}

<html>
<body>

    <h1>¿Quieres cambiar la contraseña?</h1>
    <form action="" method="POST">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
    </form>
    <input type="submit" value="Enviar correo de validación" name="enviar">
</body>
</html>

{% endblock content %}