{% extends 'base.html' %}

{% block content %}
<!--   <h3>Olvidé mi contraseña</h3>
  <h3>Formulario propio</h3>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Enviar</button>
  </form> -->

  <style>
      .form-forgotpassword {
              width: 100%;
              max-width: 330px;
              padding: 15px;
              margin: auto;
          }
      .btn-primary {
      color: #079748;
      background-color: #fff;
      border-color: #079748;
      }
      .btn-primary:hover {
      color: #fff;
      background-color: #d4bd22;
      border-color: #fff;}
  </style>
  <div class="text-center"> 
      
      <form class="form-forgotpassword" action="" method="POST"> {% csrf_token %}
        <br>
        <img class="mb-4" src="https://i.pinimg.com/originals/ea/bd/28/eabd289e32c8038cd3247f7f28f4a2f4.png" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Olvidé mi contraseña</h1>
        <br>
        {{ form.as_p }}
        {# <label for="inputEmail" class="sr-only">Email address</label> #}
        {# <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus=""> #}
        <br>
      
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
        <br>
      </form>
  </div>
      
{% endblock %}