{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
    .form-register {
            width: 100%;
            max-width: 330px;
            padding: 15px;
            margin: auto;
        }
    .btn-primary {
        color: #079748;
        background-color: #fff;
        border-color: #079748;
    }
    .btn-primary:hover {
    color: #fff;
    background-color: #d4bd22;
    border-color: #fff;
    }
</style>

<div class="text-center">
    <form class="form-register" method="POST" style="align-content: center;">
        {% csrf_token %}

        <!-- {% if form.errors %}
        <br>
            <p style="color: red;">Por favor, revisa los datos ingresados.</p>
        {% endif %} -->

        <h1 class="h3 mb-3 font-weight-normal">Registro de usuario</h1>

        <label class="sr-only">Nombre de Usuario</label>
        <input type="username" class="form-control" required="" placeholder="Nombre de Usuario" name="username">
        {{form.errors.username}}
        <br>

        <label class="sr-only">Email</label>
        <input type="email" class="form-control" required="" placeholder="Email" name="email">
        {{form.errors.email}}
        <br>

        <label class="sr-only">Contraseña</label>
        <input type="password" class="form-control" placeholder="Contraseña" required="" aria-placeholder="Contraseña" name="password1">
        <br>

        <label class="sr-only">Confirmar contraseña</label>
        <input type="password" class="form-control" placeholder="Confirmar contraseña" required="" aria-placeholder="Confirmar contraseña" name="password2">
        {{form.errors.password2}}
        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrarse</button>
        <br>
        <br>
    </form>
</div>
{% endblock content %}