{% extends "base.html" %}
{% load static %}
{% block content %}
<style>
.form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
    }
    .btn-primary {
        color: #079748;
        background-color: #fff;
        border-color: #079748;
    }
    .btn-primary:hover {
    color: #fff;
    background-color: #d4bd22;
    border-color: #fff;}
</style>

<div class="text-center">

    <form class="form-signin" method="POST">
        {% csrf_token %}

        <h1 class="h3 mb-3 font-weight-normal">Inicio de sesión</h1>

        <label class="sr-only">Nombre de Usuario</label>
        {% if not form.errors.nombreUsuario%}
            <div class="form-group">
                <input type="text" class="form-control" id="inputDefault" placeholder="Usuario" name="nombreUsuario">
            </div>
        {%endif%}
        {% if form.errors.nombreUsuario%}
            <div class="form-group has-danger">
                <input type="text" class="form-control is-invalid" id="inputInvalid" placeholder="Usuario" name="nombreUsuario">
                <div class="invalid-feedback">{{form.errors.nombreUsuario}}</div>
            </div>
        {%endif%}

        <label class="sr-only">Contraseña</label>
        {% if not form.errors.contraseña%}
            <div class="form-group">
                <input type="password" class="form-control" id="inputDefault" placeholder="Contraseña" required="" aria-placeholder="Contraseña" name="contraseña">
            </div>
        {%endif%}

        {% if form.errors.contraseña%}
            <div class="form-group has-danger">
                <input type="password" class="form-control is-invalid" id="inputInvalid" placeholder="Contraseña" required="" aria-placeholder="Contraseña" name="contraseña">
                <div class="invalid-feedback">{{form.errors.contraseña}}</div>
            </div>
        {%endif%}

        <input type="hidden" name="next" value="{{ request.GET.next }}"/>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Ingresar</button>
        <br>

        <p class="forgot"><a href="/password_reset/">¿Te olvidaste la contraseña?</a></p>
        <p class="forgot"><a href="/registrarse/">Regístrate</a></p>

    </form>
</div>
{% endblock content %}