{% extends 'base.html' %}

{% block content %}
<div class="text-center">
    <br>
    <h5><ul>Confirmar reserva de {{reserva.usuario|upper}}</ul></h5>
    <br>
    <h6>Reserva de {{reserva.cantidadParcelas}} parcela/s desde {{reserva.fechaInicio}} hasta el {{reserva.fechaFin}}.</h6>
    <br>
    <h6><strong>Comunicate con {{reserva.usuario}} a través de {{usuario.email}}.</strong></h6>
    <br>
    <button class="btn btn-primary btn-md my-0 p confirmar" data-pk="{{ reserva.pk }}"">Confirmar reserva</button>
    </a>
    <button class="btn btn-danger btn-md my-0 p rechazar" data-pk="{{ reserva.pk }}">Rechazar reserva</button>
    </a>
    <br>
</div>
<br>
{% endblock content %}

{% block scripts_pie %}
<script type="text/javascript">
(function($) {
    'use strict';
    $('.confirmar').on('click', function() {
        var pk = $(this).data('pk');
        $.ajax({
            method: "POST",
            url: '/reservas/confirmar/',
            data: { pk: pk, csrfmiddlewaretoken: '{{ csrf_token }}' }
        })
        .done(function( datos ) {
            alert(datos.mensaje);
            window.location.href = datos.url;
        })
        .fail(function( jqXHR, textStatus ) {
            alert('Reserva confirmada!', 'Encontramos un problema: ' + jqXHR + ' estado: ' + textStatus, 'danger');
        });
    });
})(jQuery);

(function($) {
    'use strict';
    $('.rechazar').on('click', function() {
        var pk = $(this).data('pk');
        $.ajax({
            method: "POST",
            url: '/reservas/rechazar/',
            data: { pk: pk, csrfmiddlewaretoken: '{{ csrf_token }}' }
        })
        .done(function( datos ) {
            alert(datos.mensaje);
            window.location.href = datos.url;
        })
        .fail(function( jqXHR, textStatus ) {
            alert('Reserva rechazada!', 'Encontramos un problema: ' + jqXHR + ' estado: ' + textStatus, 'danger');
        });
    });
})(jQuery);
</script>
{% endblock %}