{% extends 'base.html' %}

{% block title %}
Event Details
{% endblock %}

{% block content %}
    <div class="container">
        <div class="clearfix">
            <a class="btn btn-primary left" type="button" onclick="history.back();" value="Back" name="button" class="btn"> Calendar </a>
        </div>
        <div class="clearfix">
            <h3>Reserva hecha por: {{ reserva.usuario }}</h3>
            <hr>
            <p>Desde la fecha <span style="color: gray;">{{ reserva.fechaInicio }}</span>
            <br> Hasta: <span style="color: gray;">{{ reserva.fechaFin }}</span></p>
            <hr>
            <p>Se reservaron {{ reserva.cantidadParcelas }} parcelas.</p>
        </div>
    </div>
{% endblock %}