{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="text-center">
    <br>
    <h5>Mis reservas</h5>
</div>
<br>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-2"><strong>Fecha de inicio</strong></div>
        <div class="col-sm-2"><strong>Fecha de fin</strong></div>
        <div class="col-sm-2"><strong>Camping</strong></div>
        <div class="col-sm-2"><strong>Cantidad de parcelas</strong></div>
        <div class="col-sm-2"><strong>Estado de la reserva</strong></div>
    </div>
    <br>
    {% for reserva in reservas %}
    <div class="row">
        <p style="border: ridge #000000 2px;">
        <div class="col-sm-2">
            {{ reserva.fechaInicio }}
        </div>
        <div class="col-sm-2">
            {{ reserva.fechaFin }}
        </div>
        <div class="col-sm-2">
            {{ reserva.camping }}
        </div>
        <div class="col-sm-2">
            {{ reserva.cantidadParcelas }}
        </div>
        <div class="col-sm-2">
            {% if reserva.confirmado == True %}
                <p>Confirmada</p>
            {%else%}
                {% if reserva.rechazado == True %}
                    <p>Rechazada</p>
                {% endif %}
                {% if reserva.rechazado == False and reserva.confirmado == False %}
                    <p>Pendiente</p>
                {% endif %}
            {% endif %}
        </div>
    </p>
    </div>
    <br>
    {% endfor %}
</div>

{% endblock content %}