{% extends "base.html" %}

{% block scripts_encabezado %}
<style>
    .btncerrar
    {
        width: 150px;
        height: 35px;
    }
</style>
{% endblock %}

{% block content %}
<div class="text-center">
    <br>
    <h5>Reservas de tu camping</h5>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-2"><strong>Usuario que reservo</strong></div>
        <div class="col-sm-2"><strong>Fecha de inicio</strong></div>
        <div class="col-sm-2"><strong>Fecha de fin</strong></div>
        <div class="col-sm-2"><strong>Cantidad de parcelas</strong></div>
        <div class="col-sm-2"><strong>Estado de la reserva</strong></div>
    </div>
    <br>
    {% for reserva in reservas %}
    <div class="row">
        <p style="border: ridge #000000 2px;">
        <div class="col-sm-2">
            {{ reserva.usuario }}
            {{ reserva.usuario.email }}
        </div>
        <div class="col-sm-2">
            {{ reserva.fechaInicio }}
        </div>
        <div class="col-sm-2">
            {{ reserva.fechaFin }}
        </div>
        <div class="col-sm-2">
            {{ reserva.cantidadParcelas }}
        </div>
        <div class="col-sm-2">
            {% if reserva.confirmado == True %}
                <p>Confirmada</p>
            {%else%}
                {% if reserva.rechazado == True %}
                    <p>Rechazada</p>
                {%else%}
                    <p>Click para confirmar o rechazar</p>
                        <br>
                        <br>
                        <a href="/reservas/confirmar/{{reserva.pk}}/" class="btn btn-secondary btncerrar">Ver</a>
                        <br>
                    <br>
                {% endif %}
            {% endif %}
        </div>
    </p>
    </div>
    <br>
    {% endfor %}
</div>
{% endblock content %}