{% extends "base.html" %}
{% load static %}
{% block scripts_encabezado %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/barra_lateral.css' %}">
{% endblock %}

{% block content %}
<div class="text-center">
    {% if form.errors %}
    <ul>
    <li><p>{{form.errors}}</p></li>
    </ul>
    {% endif %}

    <!-- <div class="text-center">
        {% for reserva in reservas %}
            <li>
                <p>Reserva de: {{reserva.usuario}}
                <br> Desde: {{reserva.fechaInicio}}
                <br> Hasta: {{reserva.fechaFin}}</p>
            </li>
        {% endfor %}
    </div> -->

    <div class="clearfix">
        <a class="btn btn-info left mr-2" href="/reservas/calendar/{{pk}}/"> Calendar </a>
    </div>
    <form action="{{ request.path }}" method="POST">{% csrf_token %}
        <div class="text-center">
            <table>
                <p>Fecha de inicio</p>
                {{form.fechaInicio}}
                <br>
                <p>Fecha fin</p>
                {{form.fechaFin}}
                <br>
                <p>Cantidad de parcelas</p>
                {{form.cantidadParcelas}}
                <br>
                <br>
                {# {{ form.as_table }} #}
            </table>
        </div>
        <input type="hidden" name="next" value="/reservas/calendar/{{pk}}/">
        <button type="submit" class="btn btn-primary">Realizar reserva</button>
        <a href="/reservas/calendar/{{pk}}/" class="btn btn-default">Cancelar</a>
        <br>
        <br>
    </form>
</div>

{% endblock content %}