<style>
.comment-form {
        width: 100%;
        max-width: 500px;
        padding: 15px;
        margin: auto;
    }
    .btn-primary {
        color: #079748;
        background-color: #fff;
        border-color: #079748;
    }
    .btn-primary:hover {
    color: #fff;
    background-color: #d4bd22;
    border-color: #fff;}

.comment {
        width: 100%;
        max-width: 1000px;
        padding: 15px;
        margin: auto;
}
</style>

<h5 id="reply-title" class="comment">Comentarios</h5>
<ol class="comment-list">
    {% for comment in comentarios %}
        {# {% if user.is_authenticated or comment.approved_comment %} #}

            <div class="comment">
                <p style="border: ridge #000000 2px;">
                <div class="date">
                    <div class="text-right">
                        {% if comment.usuarioAutor == request.user %}
                        <a href="/comentario/{{ comment.pk }}/delete/" class="btn btn-default"
                            onClick="return confirm('¿Seguro que quieres borrar el comentario?');">
                            <strong>Eliminar comentario</strong>
                        </a>
                        {% endif %}
                        <br>
                        {{ comment.fechaCreacion }}
                    </div>
                    <strong>{{ comment.usuarioAutor }}</strong> dice:

                    {% comment %}
                    {% if not comment.approved_comment %}
                        <a class="btn btn-default" href="{% url 'comment_remove' pk={{comment.pk}} %}"><span class="glyphicon glyphicon-remove"></span></a>
                        <a class="btn btn-default" href="{% url 'comment_approve' pk={{comment.pk}} %}"><span class="glyphicon glyphicon-ok"></span></a>
                    {% endif %}
                    {% endcomment %}
                </div>
                <p>{{ comment.contenido|linebreaks }}</p>
                </p>
            </div>
        {# {% endif %} #}
    {% empty %}
    <div class="comment">
        <p>No se encuentran comentarios todavía</p>
    </div>
    {% endfor %}
</ol>
{% if user.is_authenticated %}
    <div id="respond" class="comment-respond; text-center">
        <h3 class="reply-title">Comenta tu experiencia</h3>
        <form action="" method="post" id="commentform" class="comment-form">{% csrf_token %}
            <label class="sr-only">Comenta tu experiencia</label>
            <input class="form-control" required="" placeholder="Contenido" name="contenido">
            <br>
                    
<!--            <fieldset>-->
<!--                <legend>StarRating</legend>-->
<!--                <input type="radio" id="star5" name="star" value='1'><label for="star5"></label>-->
<!--                <input type="radio" id="star4" name="star" value='2'><label for="star4"></label>-->
<!--                <input type="radio" id="star3" name="star" value='3'><label for="star3"></label>-->
<!--                <input type="radio" id="star2" name="star" value='4'><label for="star2"></label>-->
<!--                <input type="radio" id="star1" name="star" value='5'><label for="star1"></label>-->

<!--            </fieldset>-->

            <button class="btn btn-lg btn-primary btn-block publicar" type="submit">Publicar</button>
        </form>
    </div>
{% endif %}

