
<nav class="navbar navbar-expand-lg navbar-dark fixed-top py-3">
    {% block messages %}
        {% include "messages.html" %}
    {% endblock messages %}
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active"><a class="nav-link js-scroll-trigger" href="/"><big> Inicio </big><span class="sr-only">(current)</span></a></li>
        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/foro/"><big> Foro </big></a></li>
        {% if user.is_authenticated%}
            {% if camping == "" %}
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/" onClick="return confirm('Necesitas dar de alta tu camping para que los usuarios puedan reservar');"><big> Reservas de Tu camping </big></a></li>
            {% else %}
                {% if camping.usuarioAdmin == user %}
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="/reservas/mis-reservas/{{camping.pk}}/"><big> Reservas de Tu camping </big></a></li>
                {% endif %}
            {% endif %}
        {% endif %}
    </ul>
    <ul class="navbar-nav ml-auto nav-flex-icons right">
        {% if request.user.is_authenticated %}
            <li class="nav-item dropdown"></li>
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    <big>{{ user.username }}</big>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item" href="/abmcamping/">Tu Camping</a>
                    {% if cant_mis_reservas > 0 %}
                    <a class="dropdown-item" href="/misreservas/">Mis reservas</a>
                    {% endif %}
                    {% if request.user.is_staff%}
                        <a class="dropdown-item" href="/denuncias/" id="btndenuncias">Denuncias</a>
                    {% endif %}
                    <a class="dropdown-item" href="/banners/">Configurar Banners</a>
                    <a class="dropdown-item" href="/cerrarsesion/">Cerrar sesion</a>
                </div>
            </li>
            {% include 'notificaciones.html' %}
        {% else %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                    <big>Ingresar</big>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
                    <a class="dropdown-item text-dark" href="/accounts/login/">Iniciar sesion</a>
                    <a class="dropdown-item text-dark" href="/registrarse/">Registrarse</a>
                </div>
            </li>
        {% endif %}
    </ul>
</nav>