{% load static %}
{% load ratings%}

<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="{% static '/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static '/css/star-ratings.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static '/css/starability-all.min.css' %}"/>

    {% block scripts_encabezado %}{% endblock %}

    <!-- <link href="{% static 'css/campings.css' %}" rel="stylesheet" type="text/css"> -->
</head>

<style>
    header.masthead {
        padding-top: 3rem;
        padding-bottom: calc(4rem - 4rem);
        background: #d4bd22;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        }
</style>

<body>

    <!--MENÚ, NAVBAR-->
    {% block barra %}
        {% include "barra.html" %}
    {% endblock barra %}
    {% block messages %}
    {% endblock messages %}

    <!-- Masthead-->
    <header class="masthead">
            <div class="row h-25 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <img src="{% static '/img/logo.png' %}" width="200" height="200">
                    <hr class="divider my-4" style="border-color: #d4bd22;"/>
                </div>
            </div>

        {% block header %}
        {% endblock %}
    </header>

    {% block content %}
    {% endblock content %}

    <footer>
        <div style="background-color: #079748; height: 3px;"></div>
        <div style="background-color: #ffffff; height: 3px;"></div>
        <div style="background-color: #d4bd22; height: 5px;"></div>
        <div style="background-color: #ffffff; height: 6px;" class="text-center">
            <p>Ramirez | Spahn | Llull</p>
        </div>
    </footer>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="{% static '/js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
    <script type="text/javascript" src="{% static '/js/star-ratings.min.js' %}"></script>
    <script language="javascript" type="text/javascript"></script>

    {% block scripts_pie %} {% endblock %}

</body>

</html>