{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="text-center">
    <span title = "borrarcamping">Estás seguro de borrar el camping: {{ camping.nombre }}?</span>
</div>

<form  method="POST" class="post-form">
    {% csrf_token %}

    <a href="/">Cancelar</a>

    <input type="submit" name="confirm">
</form>

{% endblock content %}