{% extends "base.html" %}

{% block content %}
<br/>
<p><strong>Respuestas del foro denunciadas pendientes de revisión</strong></p>
{% if comentarios %}
<p>Las siguientes respuestas del foro han sido denunciadas 5 o más veces. Revise las mismas y tome una decisión al respecto.</p>
{% endif %}
{% for comment in comentarios %}

<div class="container"> 
    <div class="alert alert-warning" role="alert">                     
        <div class="date">
            <small>Fecha: {{ comment.fechaCreacion }}</small> 
            <br>
            Usuario denunciado: {{ comment.author }} 
            <br>
            Contenido publicado: {{ comment.contenido }}
            <br>
            Cantidad de denuncias: {{ comment.total_denuncias }}
            <a href="{% url 'deleteanswer' comment.pk %}"class="badge badge-danger"
                        onClick="return confirm('¿Seguro que quieres eliminar esta respuesta denunciada del foro?');">
                        <strong>Eliminar respuesta</strong>
            </a>
            <a href="{% url 'sitio:descartardenuncias' comment.pk %}"class="badge badge-success"
                        onClick="return confirm('¿Seguro que quieres descartar todas las denuncias hechas a esta respuesta del foro?');">
                        <strong>Descartar denuncias</strong>
            </a>
            <br>
            Motivo/s por los que fue denunciado:
            {% for motivo in motivos %}
                {% if motivo.0 == comment %}
                    {% for descripcion in motivo.1 %}
                        {{descripcion}} - 
                    {% endfor %}
                {% endif %}
            {% empty %}
                <p>No hay </p>
            {% endfor %}
        </div>
    </div>
</div>

{% empty %}
    <p>No hay respuestas denunciadas pendientes de revisión</p>
{% endfor %}

{% endblock content %}