{% extends "base.html" %}

{% block content %}
<div class="text-center">
    <span title = "Bienvenidos"><h3><strong>{{camping.nombre}}</strong></h3>
    </span>
</div>
{% block star %}
{% endblock %}
{% include "banners/banner.html" %}
<br>

<div class="text-center">
<br>
<h5><ul>{{ camping.descripcion }}</ul></h5>
{% if user.is_authenticated %}
    <br>
    <!-- <a href="/reservas/{{ camping.pk }}/reservar/" class="btn btn-primary btn-md my-0 p">
        Reserva tu lugar!
        <br>
    </a> -->
    <a href="/reservas/calendar/{{ camping.pk }}/" class="btn btn-primary btn-md my-0 p">
        Reserva tu lugar!
        <br>
    </a>
{% endif %}
</div>
<br>
{% if camping.linkGoogleMaps != "" %}
    <div class="text-center">
        <iframe src="{{ camping.linkGoogleMaps }}"
            width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0">
        </iframe>
    </div>
{% endif %}
<br>
{% if servicios.count > 0 %}
<ul>
    <h3><strong>Servicios que ofrece:</strong></h3>
    <ul>
    {% for servicio in servicios %}
        <li>{{ servicio }}</li>
    {% endfor %}
    </ul>

</ul>
{% endif %}

<hr>

{% include "comentarios/comentarios.html" %}

{% endblock content %}

{% comment %}
<!-- {% block scripts_pie %}
<script>

(function($) {
    'use strict';
    $('.publicar').on('click', function() {
        var pk = $(this).data('pk');
        $.ajax({
            method: "POST",
            url: "{% url 'sitio:eliminar' %}",
            data: { pk: pk, csrfmiddlewaretoken: '{{ csrf_token }}' }
        })
        .done(function( datos ) {
            alert(datos.mensaje);
            location.reload();
        })
        .fail(function( jqXHR, textStatus ) {
            alert('Oops!!', 'Encontramos un problema: ' + jqXHR + ' estado: ' + textStatus, 'danger');
        });
    });
})(jQuery);
</script>

{% endblock %} -->

{% endcomment %}