{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
    <!-- Third party plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="{% static '/css/home.css' %}">
</head>

<style>
    header.masthead {
        padding-top: 10rem;
        padding-bottom: calc(10rem - 3rem);
        background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('static/img/imagen.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        }
</style>

<body>
    <!--MENÚ, NAVBAR-->
    {% comment %}
    <!-- <div class="container">
        <div class="col-md-12">
            <div class="row">
                {% block messages %}
                    {% include "messages.html" %}
                {% endblock messages %}
            </div>
            <div class="row">
                {% block barra %}
                    {% include "barra.html" %}
                {% endblock barra %}
            </div>
        </div>
    </div> -->
    {% endcomment %}
    {% block barra %}
        {% include "barra.html" %}
    {% endblock barra %}
    {% block messages %}
    {% endblock messages %}

    <!-- Masthead-->
    <header class="masthead">
        <div class="container h-auto">
            <div class="row h-10 align-items-center justify-content-center text-center">
                <div class="col-lg-10 align-self-end">
                    <img src="{% static '/img/logo.png' %}" width="200" height="200">
                    <hr class="divider my-4" style="border-color: #d4bd22;"/>
                </div>
                <div class="col-lg-8 align-self-baseline">
                    <p class="text-white-75 font-weight-light mb-5" style="color: white;">
                        Bienvenidos a una pagina dedicada a los amantes de acampar
                    </p>
                    <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Buscar Campings!</a>
                </div>
            </div>
        </div>
    </header>

    <!-- About-->
    <section class="page-section bg-primary" id="about">
        <div class="container h-100">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <br>
                    <br>
                    {% include "search_bar.html" %}
                    <br>
                    <section id="zonas">
                        <div class="row row-cols-2">
                            {% for zona in zonas %}
                                <div class="list-group" style="padding: 1%; width: 30%;">
                                    <button style="background: #079748; border-color: #079748;" type="button" class="list-group-item list-group-item-action active" disabled>
                                    {{ zona.nombre }}
                                    </button>
                                    {% for localidad in localidades %}
                                        {% if localidad.zona == zona %}
                                        <button type="button" class="list-group-item list-group-item-action">
                                            <a style="color: #079748;" href="/campings/{{localidad.pk}}/">{{ localidad.nombre }}</a>
                                        </button>
                                        {% endif %}
                                    {% endfor %}
                                    <br>
                                </div>
                            {% endfor %}
                        </div>
                    </section>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </div>
    </section>

    <br>
    <br>
    <br>

    <!-- Contact-->
    <section class="page-section" id="contact">
        <div class="container h-50">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <h2 class="mt-0">Comuniquese con nosotros!</h2>
                    <hr class="divider my-4" />
                    <p class="text-muted mb-5">El equipo de Vivis en carpa esta disponible para cualquier sugerencia o consulta. <br> No dude en llamar o contactarnos por email!</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                    <i class="fas fa-phone fa-3x mb-3 text-muted"></i>
                    <div>+1 (555) 123-4567</div>
                </div>
                <div class="col-lg-4 mr-auto text-center">
                    <i class="fas fa-envelope fa-3x mb-3 text-muted"></i>
                    <!-- Make sure to change the email address in BOTH the anchor text and the link target below!-->
                    <a class="d-block" href="vivisencarpa@gmail.com">vivisencarpa@gmail.com</a>
                </div>
            </div>
        </div>
    </section>
    <br>
    <br>
    <br>
    <footer>
        <div style="background-color: #079748; height: 3px;"></div>
        <div style="background-color: #ffffff; height: 3px;"></div>
        <div style="background-color: #d4bd22; height: 5px;"></div>
        <div style="background-color: #ffffff; height: 6px;" class="text-center">
            <div class="container"><div class="small text-center text-muted">Copyright © 2020 - Vivis en Carpa</div></div>
            <p>Ramirez | Spahn | Llull</p>
        </div>
    </footer>

    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js"></script>

</body>

</html>