{% extends "base.html" %}

{% block content %}
<style> 
    .card {
        background: -webkit-linear-gradient(to right, #ffffff, #dcf0e5);
        background:    -moz-linear-gradient(to right, #ffffff, #dcf0e5);
        background:         linear-gradient(to right, #ffffff, #dcf0e5);
    }
    .btn-outline-secondary {
        border-color: #079748;
    }
    .btn-outline-secondary:hover {
        background: #a8e0c1;
        border-color: #079748;
    }
</style>

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            {% for camping in campings %}
                <div class="col-md-4">
                    <div class="card mb-4 shadow-sm" style="background-color: #ffffff;">
                        {% if camping.foto_perfil %}
                        <img class="d-block w-100" src="{{ camping.foto_perfil.url }}" alt="First slide">
                        {% endif %}
                        <h3 style="text-align: center; color: #97075b;"><strong><em> {{ camping.nombre }} </em></strong></h3>
                        <div style="padding: 5px 20px; color: black;">
                            <p>{{ camping.descripcion }}</p>

                            <p><small> {{ camping.direccion }}, {{camping.localidad}} </small></p>

                            <p><small><a href={{camping.pagina}}>{{camping.pagina}}</a> <br> {{camping.telefono}} </small></p> 

                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">
                                        <a href="/detallecamping/{{camping.pk}}/" style="color: #079748;">Ver más...</a></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %}