{% extends "base.html" %}
{% block content %}

<br/>
<h2 class="text-center">TU CAMPING</h2>
<br/>

<div class="container">
    <div class="alert alert-success" role="alert">
        <div style="padding: 30px; width: 100%;" class="text-left">
            <form action="{{request.path}}" method="POST" enctype="multipart/form-data" >{% csrf_token %}
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Guardar</button>
            </form>
            {% if camping is not None%}
            <br>
            <a href="/borrarcamping/{{ camping.pk }}/" class="btn btn-danger" onClick="return confirm('¿Seguro que quieres borrar el camping {{ camping.nombre }}?');">
                Eliminar camping</a>
            {% endif %}
        </div>
    </div>
</div>
<br/>

{% endblock content %}