{% extends "base.html" %}

{% block content %}
<div class="text-center">
<span title = "Bienvenidos">Prueba para volver a la misma pagina
</span>
    <P>
        <a href="reservar" class="btn btn-primary btn-md my-0 p">
            RESERVAR
        </a>
    </P>
</div>

{% endblock content %}