.btn-primary {
    color: #fff;
    background-color: #d4bd22;
    border-color: #d4bd22;
    }
.btn-primary:hover {
    color: #fff;
    background-color: #d6cb85;
    border-color: #d6cb85;
    }
.bg-primary {
    background-color: #d4bd22 !important;
    }