{% extends "base.html" %}

{% block content %}

<br>
<h1>Banner</h1>
</span>
<br>

<div>
  <form action="{{ request.path }}" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Agregar banner</button>
    <a href="/banners/" class="btn btn-default">Cancelar</a>
  </form>
</div>

{% endblock content %}