
{% block scripts_encabezado %}
<style>
.carousel-inner img {
    width: 100%;
    max-height: 500px;
}

.carousel-inner{
 max-height: 1920px;
}
</style>

{% endblock %}

{% block content %}
{% if banners.count > 0 %}
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
   
    {% for banner in banners %}
      <li data-target="#carouselExampleIndicators" data-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></li>
    {% endfor %}
  
  </ol>
  <div class="carousel-inner">
    {% for banner in banners %}
      <div class="carousel-item {% if forloop.first	%}active{% endif %}">
        <img class="d-block w-100" src="{{ banner.imagen.url }}" alt="{{ banner.titulo }}">
      </div>
    {% endfor %}
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
{% endif %}
{% endblock content %}