{% extends "base.html" %}

{% block scripts_encabezado %}

<style>
    .btncerrar
    {
         width: 150px;
         height: 35px;
    }
</style>

{% endblock %}

{% block content %}



{% if camping is not None %}
<div class="text-center">
    <br>
    <h5>Banners cargados</h5>
    <a href="/banner/">Agregar nuevo</a>
</div>

<br>
<div class="container; text-center">
    {% for banner in banners %}
    <div class="row">
        <p style="border: ridge #000000 2px;">
        <div class="col-sm">
            <img class="d-block w-100" src="{{ banner.imagen.url }}" alt="Imagen">
            <br>
        </div>
        <div class="col-sm">
            {{ banner.titulo }}
        </div>
        <div class="col-sm">
            <a href="/banner/{{ banner.pk }}/delete/" class="btn btn-danger btncerrar" onClick="return confirm('¿Seguro que quieres borrar a {{banner.titulo}}?');">
                <strong>Eliminar</strong>
            </a>
            <br>
            <br>
            <a href="/banner/{{ banner.pk }}/" class="btn btn-secondary btncerrar">Editar</a>
            
            
            <br>
        </div>
        <br>
    </p>
    </div>
    {% endfor %}
</div>
{% else %} 
<p>Primero debe cargar su camping para subir imágenes del mismo</p>
{% endif %}




{% endblock content %}