{% extends 'base.html' %}

{% block content %}

<style>
    .card {
        background: -webkit-linear-gradient(to right, #ffffff, #dcf0e5);
        background:    -moz-linear-gradient(to right, #ffffff, #dcf0e5);
        background:         linear-gradient(to right, #ffffff, #dcf0e5);
    }
    .btn-outline-secondary {
        border-color: #079748;
    }
    .btn-outline-secondary:hover {
        background: #a8e0c1;
        border-color: #079748;
    }
</style>

<p>
    <input type="button" value="Volver" onClick="history.go(-1);">
</p>
    {% if query %}
        <h3>Resultados:</h3>
        {% for result in page.object_list %}
            {% if result.model_name == 'camping' %}
            <div class='container'>
                {% include "search_bar.html" %}
            </div>
            <br>
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm" style="background-color: #ffffff;">
                    <h3 style="text-align: center; color: #97075b;"><strong><em> {{ result.nombre }} </em></strong></h3>
                    <div style="padding: 5px 20px; color: black;">
                        <p>{{ result.descripcion }}</p>

                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">
                                    <a href="/detallecamping/{{camping.pk}}/" style="color: #079748;">Ver más...</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% if result.model_name == 'forumpost' %}
            <div class='container'>
                {% include "search_bar_forumpost.html" %}
            </div>
            <br>
            <div class="container">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">
                        <a href="/forumpostdetail/{{result.pk}}/" class="alert-link" onmouseover="this.style.color='#d4bd22'"
                        onMouseOut="this.style.color='#000000'"
                        >{{ result.title }}</a>
                    </h4><small>(click para ver más)</small>
                    <hr>
                    {% if result.author == request.user.username %}
                        <p class="mb-0">Publicado por <strong>vos</strong></p>
                        <span style="text-align:right;">
                            <a href="/deleteforumpost/{{result.pk}}/" class="badge badge-danger"
                            onClick="return confirm('¿Seguro que quieres borrar el tema del foro?');">
                            <strong>Eliminar</strong>
                        </a>
                        </span>
                    {% else %}
                        <p class="mb-0">Publicado por <strong>{{ result.author }}</strong></p>
                    {% endif %}
                </div>
            </div>
            {% endif %}
        {% empty %}
            <p>No se encontraron resultados.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% endif %}

{% endblock %}